%table.table.table-bordered
  %thead
    %tr
      %th Sr
      %th Name
      %th Description
      %th Quantity
      %th Price
      %th Item Total
  %tbody
    - @current_order.ordered_items.each do |index, details|
      - food = details[:food]
      %tr
        %td= index
        %td= details["food"]['name']
        %td= details["food"]['description']
        %td= details[:qty]
        %td= details["food"]['price']
        %td= details["food"]["price"] * details["qty"]
  %tfoot
    %tr
      %td{colspan: 4}
      %td Total
      %td.total= @current_order.total
    %tr
      %td{colspan: 4}
      %td VAT
      %td= @current_order.vat
    %tr
      %td{colspan: 4}
      %td Delivery cost
      %td= @current_order.delivery_cost
    - @current_order.final_amount = @current_order.total + @current_order.delivery_cost + @current_order.vat
    %tr
      %td{colspan: 4}
      %td Final amount
      %td= @current_order.final_amount

- session[:order][:details] = {"total"=>@current_order.total, "final_amount"=>@current_order.final_amount}


