%p Carts items
- if @ordered_foods.length == 0
  %p Your cart is empth
- else
  %table.table.table-bordered
    %thead
      %tr
        %th Sr
        %th Name
        %th Description
        %th Quantity
        %th Price
        %th Item Total
    %tbody
      - @ordered_foods.each do |index, details|
        - food = details[:food]
        %tr
          %td= index
          %td= food.name
          %td= food.description
          %td= details[:qty]
          %td= food.price.to_i
          %td= food.price.to_i * details[:qty].to_i
    %tfoot
      %tr
        %td{colspan: 4}
        %td Total
        %td.total= @total

  = button_to 'Checkout', checkout_path, :class => "btn btn-success"

