= form_for @food, html: { class: "form form-horizontal food" } do |f|
  .form-group
    = f.label :name, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, class: 'form-control', required: true
    = f.error_span(:name)
  .form-group
    = f.label :description, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :description, class: 'form-control', required: true
    = f.error_span(:description)
  .form-group
    = f.label :price, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :price, class: 'form-control', required: true
    = f.error_span(:price)
  .form-group
    = f.label :image_file_name, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :image_file_name, class: 'form-control', required: true
    = f.error_span(:image_file_name)
  .form-group
    = f.label :image_content_type, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :image_content_type, class: 'form-control', required: true
    = f.error_span(:image_content_type)
  .form-group
    = f.label :image_file_size, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :image_file_size, class: 'form-control', required: true
    = f.error_span(:image_file_size)
  .form-group
    = f.label :image_updated_at, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :image_updated_at, class: 'form-control', required: true
    = f.error_span(:image_updated_at)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), foods_path, :class => 'btn btn-default'
