- model_class = Food
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

.row
  - @foods.each do |food|
    .col-md-4
      .food_image
        = link_to(food) do
          = image_tag((food.image.url || "default_image.jpg"), :width => "100%", :height => "auto", :style => "max-width:100%", :class => "image-thumb", :alt => "food")
          %span.card-title= food.name
      .food_action
        = button_to "Add to cart", cart_items_path(food_id: food.id)

=# link_to t('.new', :default => t("helpers.links.new")), new_food_path, :class => 'btn btn-primary'
