- model_class = Food
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @food.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @food.description
%p
  %strong= model_class.human_attribute_name(:price) + ':'
  %br
  = @food.price
%p
  = image_tag @food.image, :class => "img-responsive"

= link_to t('.back', :default => t("helpers.links.back")), foods_path, :class => 'btn btn-default'

= link_to t('.edit', :default => t("helpers.links.edit")), edit_food_path(@food), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), food_path(@food), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
